@use "mixin" as *;
.btn-primary {
  background: var(--btn-primary);
  &:not(:disabled):not(.ant-btn-disabled) {
    &:hover {
      background: var(--btn-primary-hover);
    }
  }
}
.btn-link-primary {
  color: var(--btn-primary);
  &:hover {
    color: var(--btn-primary-hover);
  }
}
.pm-icon {
  @include flex(center, center);
}
