@use "mixin" as *;
.btn-primary {
  background: var(--btn-primary);
  &:not(:disabled):not(.ant-btn-disabled):hover {
    background: var(--btn-primary-hover);
  }
}
.btn-link-primary {
  color: var(--btn-primary);
  &:hover {
    color: var(--btn-primary-hover);
  }
  &.ant-btn-variant-link {
    color: var(--btn-primary);
    &:not(:disabled):not(.ant-btn-disabled):hover {
      color: var(--btn-primary-hover);
    }
  }
}
.pm-icon {
  @include flex(center, center);
}
.empty {
  .empty-image {
    width: 300px;
    height: auto;
    margin-inline: auto;
    margin-bottom: 24px;
    img {
      object-fit: contain;
    }
  }
  .empty-description {
    @include set_font(16px, 400, 1.5);
  }
  .empty-footer {
    margin-top: 24px;
  }
}
.table-common {
  .table-filter-common {
    .table-filter-common-item {
      width: calc((100% - 24px) / 4);
      height: 100%;
      align-items: center;
      border-radius: 8px;
      .prefix {
        line-height: 1;
        color: #737682;
      }
      .ant-picker-range-separator {
        padding-inline: 2px;
      }
      &.ant-picker {
        padding: 10px;
        .ant-picker-prefix {
          line-height: normal;
        }
        .ant-picker-input > input {
          line-height: 1;
        }
      }
      &.ant-select {
        .ant-select-selector {
          padding: 10px 5px;
          border-radius: 8px;
          &::after {
            display: none;
          }
          .ant-select-prefix {
            line-height: 1.2;
          }
          .ant-select-selection-wrap {
            &::after {
              display: none;
            }
            .ant-select-selection-item {
              line-height: 1.2;
            }
          }
        }
      }
      &.ant-input-affix-wrapper {
        padding-block: 10px;
        line-height: 1.2;
        .ant-input {
          line-height: 1.2;
        }
      }
    }
  }
}
.create-common {
  .create-common-footer {
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 16px 24px;
    border-top: 1px solid #dadde1;
    background-color: #fff;
  }
}
.modal-header {
  text-align: center;
}
.list-common-header {
  .list-common-header-title {
    @include set_font(24px, 600, 1.3);
    color: #18202a;
  }
}
