@use "mixin" as *;
/* Custom Ant Design Only */
.ant-table-wrapper {
  &.border-outline {
    .ant-table {
      border: 1px solid #dadde1;
      border-radius: 8px;
    }
  }
  &.footer-transparent {
    .ant-table-footer {
      background-color: transparent;
    }
  }
}
.custom-radio-group {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  gap: 12px;
  .ant-radio-wrapper {
    &:not(.ant-radio-wrapper-disabled):hover {
      .ant-radio-inner {
        border-color: var(--btn-primary);
      }
    }
    .ant-radio-inner {
      width: 20px;
      height: 20px;
      &::after {
        width: 10px;
        height: 10px;
        margin: 0;
        transform: scale(1) translate(-50%, -50%);
      }
    }
    .ant-radio-disabled.ant-radio-checked {
      .ant-radio-inner {
        &::after {
          transform: scale(1) translate(-50%, -50%);
        }
      }
    }
    .ant-radio-checked {
      &:not(.ant-radio-disabled) {
        .ant-radio-inner {
          border-color: var(--btn-primary);
          background-color: var(--btn-primary);
        }
      }
    }
  }
}
.custom-checkbox-group {
  @include flex(flex-start, flex-start);
  flex-direction: column;
  gap: 12px;
  .ant-checkbox-wrapper {
    &:not(.ant-checkbox-wrapper-disabled):hover {
      .ant-checkbox-inner {
        border-color: var(--btn-primary);
      }
      .ant-checkbox-checked {
        .ant-checkbox-inner {
          background-color: var(--btn-primary);
        }
      }
    }
    .ant-checkbox-inner {
      width: 18px;
      height: 18px;
    }
    .ant-checkbox-checked {
      &:not(.ant-checkbox-disabled) {
        .ant-checkbox-inner {
          background-color: var(--btn-primary);
          border-color: var(--btn-primary);
        }
      }
    }
  }
}
.ant-switch {
  &.ant-switch-checked {
    background-color: var(--btn-primary);
  }
  &.ant-switch-disabled {
    background-color: rgba(20, 33, 65, 6%);
    .ant-switch-handle::before {
      background-color: #73787e;
    }
  }
}
