@use "mixin" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SFProText-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SFProText-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SFProText-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SFProText-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SFProText-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("@/assets/fonts/SFProText-Heavy.ttf");
  font-weight: 800;
}
body {
  scrollbar-width: thin;
  font-family: "SF Pro Text", sans-serif;
  @include set_font(14px, 400, 1.4);
  &.hidden {
    overflow: hidden;
  }
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
  &:hover {
    color: #1677ff;
  }
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
input,
textarea {
  width: 100%;
  margin: 0;
  outline: 0;
  font-family: inherit;
  @include set_font($weight: 200);
  &::placeholder {
    @include set_font($weight: 200);
  }
  &:-webkit-autofill {
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--bg-input);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
    &:hover,
    &:focus,
    &:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--bg-input);
      transition: background-color 5000s ease-in-out 0s;
      box-shadow: inset 0 0 20px 20px transparent;
    }
  }
}
button {
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  cursor: pointer;
  background: 0;
}
i {
  font-style: italic;
}
.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  //   background-color: #f5f5f5;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-inline: 15px;
  @include mq_min_576 {
    max-width: 540px;
  }
  @include mq_min_768 {
    max-width: 720px;
  }
  @include mq_min_992 {
    max-width: 960px;
  }
  @include mq_min_1280 {
    max-width: 1140px;
  }
  @include mq_min_1400 {
    max-width: 1280px;
  }
}
